
.md-dialog.flash  .md-dialog-container {
	background-color: var(--md-theme-default-primary);
	color: var(--filmotheque-text-light);
}
.md-dialog.flash .md-button.md-primary {
	color: var(--md-theme-default-primary-on-background);
	font-weight: bolder;
}
