
:root {
	--sb-filmotheque-over-background: rgba(139, 69, 19, 0.20);
	--sb-filmotheque-text-light: #dddddd;
	/* --md-theme-default-primary-on-background: rgb(255, 193, 148); */
	--md-theme-default-primary: saddlebrown;
}

body, .main {
	height: 100%;
}

.content {
	padding: 20px;
	height: 100%;
}
.content > div:first-child {
	height: 100%;
}

.md-dialog-container{
	border-radius: 15px;
	transform: none;
}

.md-dialog-title {
	padding: 12px 24px;
	border-bottom: 1px solid var(--sb-filmotheque-text-light);
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}
