
:root {
	--sb-filmotheque-over-background: rgba(139, 69, 19, 0.20);
	--sb-filmotheque-text-light: #dddddd;
	/* --md-theme-default-primary-on-background: rgb(255, 193, 148); */
	--md-theme-default-primary: saddlebrown;
}

body {
	height: 100%;
}

.content {
	height: 100%;
	overflow-y: auto;
}

.md-dialog {
	border-radius: 15px;
}

.md-dialog-title {
	padding: 12px 24px;
	border-bottom: 1px solid var(--sb-filmotheque-text-light);
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}

.md-dialog.error {
	background-color: var(--md-theme-default-accent, #ff5252);
	color: var(--md-theme-default-text-primary-on-accent, #fff);
}
.md-dialog.error .md-dialog-content span {
	display: block;
	font-size: .8em;
	color: var(--md-theme-default-primary);
	font-style: italic;
}

.md-dialog.flash {
	background-color: var(--md-theme-default-primary);
	color: var(--sb-filmotheque-text-light);
}
